<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>414901321750-krlk41khhov9mcurgq9facl9npuupkeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414901321750-krlk41khhov9mcurgq9facl9npuupkeg</string>
	<key>API_KEY</key>
	<string>AIzaSyBBXjR0zpWTDBaJ3RRUPyhm125PmFD8_QA</string>
	<key>GCM_SENDER_ID</key>
	<string>414901321750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tastyelectrons.woojo</string>
	<key>PROJECT_ID</key>
	<string>woojo-test</string>
	<key>STORAGE_BUCKET</key>
	<string>woojo-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:414901321750:ios:2a8248f446bee65a</string>
	<key>DATABASE_URL</key>
	<string>https://woojo-test.firebaseio.com</string>
</dict>
</plist>